<template>
  <div class="about container">
    <nav-bar></nav-bar>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5>PGDIT Student Conversation</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card text-left">
                  <div class="card-body">
                    <p class="text-secondary nomessages" v-if="messages.length == 0">
                      [No messages yet!]
                    </p>
                    <div class="messages" style="height: 53vh; overflow-x: hidden; overflow-y: scroll" v-chat-scroll="{always: false, smooth: true}">
                      <div class="media message" v-for="message in messages" :key="message.id">
                        <img class="d-flex mr-3 rounded-circle"
                             :src="'http://pgdit.local/storage/students/'+message.user.image" alt="image" style="width: 50px">
                        <div class="media-body">
                          <h5 class="mt-0 student-name">{{message.user.name}}</h5>
                          <p class="message-text">{{message.content}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <form>
                      <div class="form-group">
                        <div class="input-group">
                          <input v-model="message" type="text" class="form-control mb-0" placeholder=""
                                 aria-label="" aria-describedby="basic-addon1">
                          <div class="input-group-append">
                            <button class="btn btn-success" @click.prevent="sendMessage()" type="submit">Send</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import NavBar from '@/components/NavBar.vue'
import * as io from 'socket.io-client'
import auth from '../helpers/auth'
import socketConfig from '../config/socket'
var socket = null
export default {
  components: {
    NavBar
  },
  data () {
    return {
      messages: [],
      message: ''
    }
  },
  async created () {
    socket = io(socketConfig.SERVER)
    await this.$axios.post('messages').then(response => {
      this.messages = response.data
    })
  },
  mounted () {
    const batchId = this.$store.getters.getBatchId || auth.getBatchId()
    socket.on('message_' + batchId, (message) => {
      this.messages.push(message)
    })
  },
  methods: {
    sendMessage () {
      this.$axios.post('message', { message: this.message })
        .then(response => response)
        .catch(() => {
          alert('Something Wrong')
        })
      // socket.emit('message', this.message)
      this.message = ''
    }
  }
}
</script>

<style scoped>
  .card {
    border: transparent;
    background: #efefef;
  }

  .card .card-footer {
    padding: 0;
    border: transparent;
  }

  .student-name {
    font-size: 1rem;
    font-weight: bold;
  }

  .message {
    background: #fff;
    padding: 7px 20px;
    margin-bottom: 10px;
  }

  .message-text {
    font-size: .9rem;
    color: #2c3e50;
  }
</style>
