<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 login mt-5">
        <div class="card-group">
          <div class="card p-4">
            <form @submit.prevent="login" class="text-center">
              <div class="card-body">
                <div class="col-12 mb-4">
                  <img src="/iit-logo.png" style="width: 100%" />
                </div>
                <h6 class="text-muted mb-4 font-weight-bold text-center">PGDIT Community Platform</h6>
                <div class="form-group mb-3">
                  <input type="text" class="form-control" placeholder="Enter email" name="email" v-model="email">
                  <p v-if="emailError" class="text-danger">{{ emailError }}</p>
                </div>
                <div class="form-group mb-4">
                  <input type="password" class="form-control" placeholder="Enter password" name="password" v-model="password">
                  <p v-if="passwordError" class="text-danger">{{ passwordError }}</p>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button class="btn login-btn btn-success px-4" type="submit">Enter</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import router from '../router'
export default {
  name: 'login',
  data () {
    return {
      email: '',
      password: '',
      emailError: null,
      passwordError: null
    }
  },
  methods: {
    async login () {
      await this.$axios.post('/login', { email: this.email, password: this.password })
        .then(response => {
          console.log(response)
          this.$store.commit('setAuthToken', response.data.access_token)
          this.$store.commit('setIsAuth', true)
          router.go('/')
        })
        .catch(error => {
          this.emailError = error.response.data.errors
        })
    }
  }
}
</script>

<style>
  body {
    background-color: #e4e5e6;
    background-image: url("/bg.svg") !important;
  }
  .login .card {
    box-shadow: 0 0 10px #bfbfbf;
  }
  .login h6 {
    font-size: 0.9rem !important;
  }
  .login .login-btn, .login .login-btn:active {
    background: #663399 !important;
    border-color: #663399 !important;
    width: 100%;
    border-radius: 20px;
    font-size: .8rem;
    font-weight: bold;
  }
  .login .form-control {
    font-size: .8rem;
    border-radius: 20px !important;
  }
</style>
