<template>
  <div class="home container">
    <nav-bar></nav-bar>
<!--    <HelloWorld msg="Welcome to IIT Community For PDG-IT"/>-->
    <div class="card">
      <div class="card-header">
        <h5>Important Notices</h5>
      </div>
      <div class="card-body">
        <ul class="list-group" v-for="notice in notices" v-bind:key="notice.id">
          <li class="list-group-item" :class="{'border-danger' : notice.type === 'exam' }">
            {{notice.title}}
            <a :href="noticePath+notice.attachment"
               class="btn btn-sm btn-primary float-right" target="_blank" :download="notice.attachment" >Download</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from '@/components/NavBar.vue'
export default {
  name: 'home',
  components: {
    NavBar
  },
  data () {
    return {
      notices: []
    }
  },
  created () {
    this.$axios.get('/notices').then(response => {
      this.notices = response.data
    })
  }
}
</script>

<style scoped>
  .card {
    border: transparent;
    background: #f6f6f6;
  }

  .card .card-footer {
    padding: 0;
    border: transparent;
  }
  .list-group-item {
    text-align: left;
    border: transparent;
    margin-bottom: 8px;
    border-left: 3px solid #333333;
    border-radius: 0;
    box-shadow: 0 0 5px #dfdfdf;
  }
  a.btn {
    border-radius: 0;
    background: #ece9fc;
    color: #8167E8;
    border: transparent;
  }
  a.btn:hover, a.btn:active {
    background-color: #8167E8 !important;
    color: #fff;
  }
</style>
