<template>
  <div class="home container">
    <nav-bar></nav-bar>
<!--    <HelloWorld msg="Welcome to IIT Community For PDG-IT"/>-->
    <div class="card">
      <div class="card-header">
        <h5>{{$store.getters.getAuthUser.name}}</h5>
      </div>
      <div class="card-body">
        <div class="row justify-content-center align-content-center">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12 text-right">
                <button type="button" class="btn btn-sm btn-info" @click="editProfile(!edit)">&#9998;</button>
              </div>
              <div class="col-md-12" v-show="alert.hasAlert">
                <p :class="{'text-danger': alert.error, 'text-success': !alert.error}">{{ alert.message }}</p>
              </div>
              <div class="col-md-12 text-left">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input v-if="edit" id="email" type="email" class="form-control" v-model="user.email" />
                  <div v-else>{{$store.getters.getAuthUser.email}}</div>
                </div>
              </div>
              <div class="col-md-12 text-left" v-show="edit">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input id="password" type="password" class="form-control" v-model="user.password" />
                </div>
              </div>
              <div class="col-md-12 text-center" v-show="edit">
                <button type="button" @click.prevent="updateProfile" class="btn btn-sm btn-success">&check; Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from '@/components/NavBar.vue'
import store from '../store'
export default {
  name: 'home',
  components: {
    NavBar
  },
  data () {
    return {
      user: {
        email: '',
        password: ''
      },
      edit: false,
      alert: {
        hasAlert: false,
        error: false,
        message: ''
      }
    }
  },
  methods: {
    editProfile (edit) {
      this.edit = edit
      if (edit) {
        this.user.email = store.getters.getAuthUser.email
      } else {
        this.alert = {
          hasAlert: false,
          error: false,
          message: ''
        }
      }
    },
    updateProfile () {
      let formData = {}
      formData.email = this.user.email
      if (this.user.password.length > 0) {
        formData.password = this.user.password
      }
      this.$axios.post('/profile/update', formData).then(response => {
        this.alert.hasAlert = true
        this.alert.error = false
        this.alert.message = response.data.message
      })
        .catch(error => {
          this.alert.hasAlert = true
          this.alert.error = true
          this.alert.message = error.response.data.errors
        })
      formData = {}
    }
  },
  deactivated () {
    this.edit = false
    this.alert = {
      hasAlert: false,
      error: false,
      message: ''
    }
  }
}
</script>

<style scoped>
  .card {
    border: transparent;
    background: #f6f6f6;
  }

  .card .card-footer {
    padding: 0;
    border: transparent;
  }
  .list-group-item {
    text-align: left;
    border: transparent;
    margin-bottom: 8px;
    border-left: 3px solid #333333;
    border-radius: 0;
    box-shadow: 0 0 5px #dfdfdf;
  }
  a.btn {
    border-radius: 0;
    background: #ece9fc;
    color: #8167E8;
    border: transparent;
  }
  a.btn:hover, a.btn:active {
    background-color: #8167E8 !important;
    color: #fff;
  }
</style>
