<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <div class="">
      <h2>Stay Connected</h2>
      <form @submit.prevent="guestRequest">
        <label>Name</label>
        <input v-model="guest.name">
        <label>Email</label>
        <input v-model="guest.email">
        <label>Student Id</label>
        <input v-model="guest.student_id">
        <button>Submit</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data () {
    return {
      guest: {
        name: '',
        email: '',
        student_id: ''
      }
    }
  },
  methods: {
    guestRequest () {
      // eslint-disable-next-line no-undef
      axios.post('/api/v1/save-guest', this.guest).then(r => {
        alert(r.data.name)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  h3 {
    margin: 40px 0 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
