<template>
  <div>
    <b-navbar toggleable="sm" type="light" variant="light">
      <b-navbar-brand>
        <img src="http://www.iit.du.ac.bd/assets/img/iitlogo-blue.png" width="100px">
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"/>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/">Notice</b-nav-item>
          <b-nav-item to="chat">Community Conversation</b-nav-item>
        </b-navbar-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown text="Access" right>
            <b-dropdown-item to="/login" v-show="!$store.getters.isAuth">Login</b-dropdown-item>
            <b-dropdown-item to="/profile" v-show="$store.getters.isAuth">{{$store.getters.getAuthUser.name}}</b-dropdown-item>
            <b-dropdown-item v-show="$store.getters.isAuth" @click="logout()" >Logout</b-dropdown-item>
          </b-nav-item-dropdown>
          <img src="http://www.iit.du.ac.bd/assets/img/dulogo.jpg" width="50px">
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
<script>
import router from '../router'
export default {
  methods: {
    logout () {
      this.$store.commit('setAuthToken', '')
      this.$store.commit('setIsAuth', false)
      this.$store.commit('setAuthUser', {})
      router.go('/login')
    }
  }
}
</script>
