<template>
  <div id="app">
    <div class="container">
      <keep-alive>
        <router-view/>
      </keep-alive>
    </div>
  </div>
</template>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
<script>
import router from './router'
import auth from './helpers/auth'
export default {
  async created () {
    if (this.$store.getters.isAuth) {
      await this.$axios.get('user').then(response => {
        this.$store.commit('setAuthUser', response.data)
        auth.setBatchId(response.data.batch_id)
        // eslint-disable-next-line handle-callback-err
      }).catch(error => this.logout())
    }
  },
  methods: {
    logout () {
      this.$store.commit('setAuthToken', '')
      this.$store.commit('setIsAuth', false)
      this.$store.commit('setAuthUser', {})
      router.go('/login')
    }
  }
}
</script>
